@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff");
}

/*Colors*/
:root {
  --basic-dark-beige: #9d8b84;
  --basic-dark-gray: #8996a6;
  --basic-green-gray: #849d8f;
  --basic-raspberry-backgr: #9a073f;
  --basic-choco-backgr: #8f4814;
  --white-text: #ffffff;
  --dark-text: #323232;
  --black: #000000;
  --black-shadow: rgba(0, 0, 0, 0.4);
  --gray: #ababab;
  --light-gray-form: #f8f7f4;
  --light-gray-contacts: #fefefe;
  --light-gray-logo: #fbfcfb;
  --light-gray-button: rgba(255, 255, 255, 0.2);
  --medium-gray-frame: #b2b2b2;
  --medium-gray: rgba(178, 178, 178, 0.52);
  --gray-input: #d3d3d2;
  --gray-price: #c4c4c4;
  --gray-placeholder: #999999;
  --gray-basket-hr: #cacac7;
  --gray-header-btn: #ededed;
  --gray-switch-hover: #rgba(255, 255, 255, 0.4);
  --gray-lead-magnit: #5a5a5a;
  --gray-footer-frame: rgba(255, 255, 255, 0.5);
  --wine-button-shadow: #942718;
  --orange-button-shadow: #ac1000;
  --bordo-button-shadow: rgba(172, 16, 0, 0.64);
  --black-cross: #2c2829;
  --black-button: rgba(0, 0, 0, 0.07);
  --orange-brown: #d07058;
  --orange-link: #e84d37;
  --orange-button: #f26843;
  --red-orange-button: #e74a35;
  --salmon-link: #ffbc9e;
  --salmon-link-border: #ffbc9e;
  --salmon-catalog-click: #f6b5a5;
  --salmon-catalog-hover: #fbded7;
  --blue-ininput: #2e88e4;
  --blue-gray: rgba(46, 136, 228, 0.52);
  --blue-black: rgba(49, 50, 53, 0.5);
  --bordo: rgba(160, 32, 11, 0.76);
}

/*Global*/
.page {
  height: 100%;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  background-color: var(--basic-green-gray);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color-dark);
  min-height: 100%;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.page-body {
  display: grid;
  min-height: 100%;
  grid-template-rows: 114px 1fr 104px;
  align-content: start;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*Hidden*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;
  text-align: center;
  color: var(--white-text);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background: linear-gradient(180deg, var(--orange-button) 0%, var(--red-orange-button) 100%);
  box-shadow: 0px 2px 2px var(--bordo-button-shadow);
  border-radius: 50px;
}

.button:hover {
  background: linear-gradient(0deg, var(--light-gray-button), var(--light-gray-button)), linear-gradient(180deg, var(--orange-button) 0%, var(--red-orange-button) 100%);
  box-shadow: 0px 2px 2px var(--orange-button-shadow);
}

.button:active {
  background: linear-gradient(0deg, var(--black-button), var(--black-button)), linear-gradient(180deg, var(--orange-button) 0%, var(--red-orange-button) 100%);
  box-shadow: inset 0px 2px 2px var(--wine-button-shadow);
}

.form {
  background-color: var(--light-gray-form);
  box-shadow: 0px 20px 20px var(--black-shadow);
  border-radius: 4px;
  color: var(--dark-text);
}

.inp {
  font: inherit;
  box-sizing: border-box;
  border-radius: 4px;
  background: var(--white-text);
  border: 1px solid var(--medium-gray);
}

.inp:hover {
  border: 2px solid var(--medium-gray);
}

.inp:focus {
  border: 2px solid var(--blue-gray);
}

.inp::placeholder {
  color: var(--gray-placeholder);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.main-header {
  color: var(--white-text);
  display: flex;
  flex-direction: row;
  height: 114px;
  width: 1146px;
}

.main-navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.main-header-logo {
  width: 154px;
  height: 64px;
  margin-left: 24px;
}

.title {
  color: var(--white-text);
  font-weight: bold;
}

/* Скрытые поп-апы, потом отобразить!!! */
.user-entrance,
.dropdown-menu,
.popup {
  display: none;
}

/* Скрытые поп-апы, закончились */

.header-link {
  color: var(--white-text);
  text-decoration: none;
  font-weight: bold;
  border-bottom: 1px solid var(--light-gray-button);
}

.header-time {
  font-size: 14px;
  line-height: 16px;
}

.header-tel {
  text-decoration: none;
  font-size: 22px;
  line-height: 24px;
}

.search-form {
  width: 341px;
  height: 84px;
}

/* Андрей, посмотри пожста. У меня при состоянии :focus на элементе item-search появляется черная рамка. Я не знаю, как ее убрать. Должна быть голубая рамка (по стайлгайду). Я поставила класс inp, которому прописана голубая рамка. Теперь у меня на этом элементе двойная рамка, и черная, и голубая.btn-item.
И еще, когда я пишу текст в этом элементе, форма постоянно перезагружается, а текст не появляется. WTF?(( */

.item-search {
  width: 311px;
  height: 44px;
}

.nav-link {
  text-decoration: inherit;
}

.user-navigation-descr {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--white-text);
  text-decoration: none;
}

.main-slider-title {
  font-size: 60px;
  line-height: 60px;
  text-align: center;
  width: 672px;
}

.main-slider-item .button {
  width: 278px;
  height: 63px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0px 2px 5px var(--bordo);
  text-transform: none;
}

.best-selling-item {
  width: 267px;
  height: 324px;
}


.best-selling-price {
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0px 1px 3px var(--blue-black);
}

.best-selling-weight {
  font-size: 30px;
  line-height: 35px;
  text-shadow: 0px 1px 3px var(--blue-black);
}

.best-selling-link {
  font-weight: 500;
  color: var(--white-text);
  text-align: center;
  text-decoration: none;
}

.benefits {
  width: 1146px;
  height: 306px;
  border-radius: 16px;
  background-image: url(../img/pattern-min.png);
  background-color: var(--basic-dark-beige);
  background-repeat: repeat;
}

.benefits-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.offer {
  width: 560px;
  height: 229px;
  border-radius: 16px;
  font-size: 18px;
  color: var(--white-text);
  font-weight: bold;
  background-repeat: no-repeat;
}

.offer-title {
  font-size: 35px;
  line-height: 41px;
}

.offer-raspberry {
  background-color: var(--basic-raspberry-backgr);
  background-image: url(../img/raspberry-backgr-min.jpg);
}

.offer-choco {
  background-color: var(--basic-choco-backgr);
  background-image: url(../img/chocolate-backgr-min.jpg);
}

.offer .button {
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  text-align: center;
  text-shadow: 0px 2px 5px var(--bordo);
  border-radius: 70px;
}

.button-form {
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  text-align: center;
  text-shadow: 0px 2px 5px var(--bordo);
  border-radius: 70px;
  font-weight: bold;
}

.offer-choco .button {
  width: 191px;
  height: 48px;
}

.offer-raspberry .button {
  width: 164px;
  height: 48px;
}

.best-selling-wrap {
  width: 267px;
  height: 267px;
  border-radius: 50%;
  overflow: hidden;
}

.best-selling-item::before {
  content: url(../img/hit.svg);
  width: 61px;
  height: 61px;
  background: var(--white-text);
  position: absolute;
  border-radius: 50%;
}

/* сделать дополнительно шрифт 14 пкс на плейсхолдеры в шапке!!! */
.news-post {
  width: 560px;
  height: 220px;
}

.news {
  color: var(--dark-text);
  background-image: url(../img/strawberry-backgr-min.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
}

.news-title {
  font-weight: 500;
  text-align: center;
}

.news-link p {
  width: 287px;
}

.news-link {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: inherit;
}

.lead-magnit-descr {
  color: var(--gray-lead-magnit);
}

.lead-magnit {
  background-image: url(../img/post-backgr-min.png);

}

.lead-input {
  width: 368px;
  height: 44px;
  border-radius: 6px;
  box-sizing: border-box;
  line-height: 24px;
}

.lead-form .button-form {
  width: 130px;
  height: 44px;
}

.contacts {
  width: 303px;
  height: 306px;
  background-color: var(--light-gray-contacts);
  border-radius: 16px;
  color: var(--dark-text)
}

.contacts-info {
  font-size: 14px;
  line-height: 20px;
}

.contacts-descr {
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.contacts-link {
  text-decoration: none;
  color: inherit;

}

.contacts .button-form {
  width: 253px;
  height: 43px;
}

.footer-item a {
  font-size: 13px;
  line-height: 18px;
  color: var(--white-text);
  text-decoration: none;
}

.for-providers {
  font-weight: bold;
}

.footer-network {
  width: 32px;
  height: 32px;
  border: 2px solid var(--gray-footer-frame);
  border-radius: 50%;
  font-size: 0px;
  background-repeat: no-repeat;
}

.fb-network {
  background-image: url(../img/fb.svg);
}

.vk-network {
  background-image: url(../img/vk.svg);
}

.insta-network {
  background-image: url(../img/instagram.svg);
}

.twit-network {
  background-image: url(../img/twitter.svg);
}

.copywrite {
  width: 190px;
  height: 60px;
  font-size: 12px;
  line-height: 18px;
  color: var(--white-text);
}

.copywrite-link {
  font-size: 0px;
  background-image: url(../img/logo-htmlacademy.svg);
  width: 108px;
  height: 39px;
  background-repeat: no-repeat;
}

.copywrite-descr-link {
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid var(--light-gray-button);
}
