@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff");
}

/*Colors*/
:root {
  --basic-dark-beige: #9d8b84;
  --basic-dark-gray: #8996a6;
  --basic-green-gray: #849d8f;
  --basic-raspberry-backgr: #9a073f;
  --basic-choco-backgr: #8f4814;
  --white-text: #ffffff;
  --dark-text: #323232;
  --black: #000000;
  --black-hover: rgba(0, 0, 0, 0.2);
  --black-shadow: rgba(0, 0, 0, 0.4);
  --gray: #ababab;
  --light-gray-form: #f8f7f4;
  --light-gray-contacts: #fefefe;
  --light-gray-logo: #fbfcfb;
  --light-gray-button: rgba(255, 255, 255, 0.2);
  --medium-gray-frame: #b2b2b2;
  --medium-gray: rgba(178, 178, 178, 0.52);
  --gray-input: #d3d3d2;
  --gray-price: #c4c4c4;
  --gray-placeholder: #999999;
  --gray-basket-hr: #cacac7;
  --gray-header-btn: #ededed;
  --gray-header-shadow: #696969;
  --gray-switch-hover: rgba(255, 255, 255, 0.4);
  --gray-lead-magnet: #5a5a5a;
  --gray-footer-frame: rgba(255, 255, 255, 0.5);
  --gray-network: rgba(255, 255, 255, 0.7);
  --gray-radio: rgba(255, 255, 255, 0.8);
  --gray-scale: rgba(248, 247, 244, 0.5);
  --gray-border: rgba(50, 50, 50, 0.2);
  --gray-bottom: rgba(50, 50, 50, 0.3);
  --wine-button-shadow: #942718;
  --orange-button-shadow: #ac1000;
  --bordo-button-shadow: rgba(172, 16, 0, 0.64);
  --black-cross: #2c2829;
  --black-button: rgba(0, 0, 0, 0.07);
  --orange-brown: #d07058;
  --orange-link: #e84d37;
  --orange-button: #f26843;
  --red-orange-button: #e74a35;
  --salmon: #f6b5a5;
  --salmon-link: #ffbc9e;
  --salmon-catalog-click: #e8ebc6;
  --salmon-catalog-hover: #fbded7;
  --blue-ininput: #2e88e4;
  --blue-gray: rgba(46, 136, 228, 0.52);
  --blue-black: rgba(49, 50, 53, 0.5);
  --bordo: rgba(160, 32, 11, 0.76);
  --beige: #f5deb3;
}

.page {
  height: 100%;
}

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color-dark);
  min-height: 100%;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center top;
  display: grid;
  grid-template-rows: 114px 1fr 104px;
  background-repeat: no-repeat;
  position: relative;
}

.overlay::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: var(--black);
  opacity: 0.4;
  top: 0;
  left: 0;
  z-index: 2;
}

.show {
  display: block;
}

img {
  max-width: 100%;
}

.container-wrap {
  width: 1146px;
  margin: 0 auto;
  position: relative;
}

.container {
  display: grid;
  grid-row-gap: 40px;
}

.list-reset {
  list-style: none;
  padding: 0;
  margin: 0;
}

.text-reset {
  padding: 0;
  margin: 0;
}

/*Hidden*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;
  text-align: center;
  color: var(--white-text);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  background-image: linear-gradient(180deg, var(--orange-button) 0%, var(--red-orange-button) 100%);
  box-shadow: 0 2px 2px var(--bordo-button-shadow);
  border-radius: 50px;
}

.button:hover {
  background-image: linear-gradient(0deg, var(--light-gray-button), var(--light-gray-button)), linear-gradient(180deg, var(--orange-button) 0%, var(--red-orange-button) 100%);
  box-shadow: 0 2px 2px var(--orange-button-shadow);
}

.button:active {
  background-image: linear-gradient(0deg, var(--black-button), var(--black-button)), linear-gradient(180deg, var(--orange-button) 0%, var(--red-orange-button) 100%);
  box-shadow: inset 0 2px 2px var(--wine-button-shadow);
}

.button:focus {
  outline: none;
  box-shadow: 0px 0px 0px 2px var(--blue-black);
}

.modal {
  position: absolute;
  display: none;
  background-color: var(--light-gray-form);
  box-shadow: 0 20px 20px var(--black-shadow);
  border-radius: 4px;
  color: var(--dark-text);
  margin-top: 4px;
}

.modal-error {
  animation: shake 0.6s;
}

.modal .button-form {
  font-size: 18px;
  line-height: 16px;
}

.input {
  font: inherit;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: var(--white-text);
}

.input::placeholder {
  color: var(--gray-placeholder);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
}

.main-header {
  color: var(--white-text);
  display: grid;
  grid-row-gap: 6px;
  width: 1146px;
  grid-template-rows: repeat(2, 1fr);
  margin-top: 9px;
}

.goods-wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 35px;
}

.main-navigation {
  display: flex;
  width: 100%;
}

.site-navigation {
  width: 702px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -3px;
}

.site-navigation-item {
  font-weight: 700;
  line-height: 18px;
  position: relative;
}

.site-navigation-item::after,
.user-navigation-item::after {
  content: "";
  position: absolute;
  display: block;
  top: 30;
  left: 0;
  width: 100px;
  height: 10px;
}

.main-header-logo {
  width: 154px;
  height: 64px;
  margin-right: 11px;
}

.working-time {
  display: grid;
  grid-row: 2 / 4;
  justify-self: end;
  justify-items: end;
  max-width: 200px;
  margin-top: -2px;
  margin-right: 3px;
}

.title {
  color: var(--white-text);
  font-weight: 700;
}

.remove {
  display: none;
}

.header-link {
  position: relative;
  display: block;
  max-width: 155px;
  color: var(--white-text);
  text-decoration: none;
  padding-top: 8px;
  padding-left: 14px;
  padding-right: 14px;
  padding-bottom: 8px;
  border-radius: 26px;
  margin-right: 3px;
}

.header-link.active {
  background-color: var(--orange-brown);
}

.header-link.active span {
  border: none;
}

.header-link:hover,
.header-link:focus {
  background-color: var(--white-text);
  border-radius: 26px;
}

.header-link:hover span,
.header-link:focus span {
  color: var(--dark-text);
  border: none;
}

.header-link:active {
  background-color: var(--gray-header-btn);
  box-shadow: inset 0 2px 1px var(--gray-header-shadow);
  color: var(--dark-text);
}

.header-link.active,
.header-link:hover,
.header-link:focus {
  border-bottom: none;
  color: inherit;
}

.header-time {
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 8px;
  padding-right: 4px;
}

.header-tel {
  text-decoration: none;
  font-size: 22px;
  line-height: 24px;
  margin-right: 2px;
}

.search-form {
  width: 341px;
  z-index: 3;
  right: 0px;
  top: 34px;
}

.search-icon-wrap {
  width: 32px;
  background-color: var(--light-gray-button);
  border-radius: 50%;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

.search-icon-wrap:hover .search-form,
.search-icon-wrap:active .search-form,
.search-icon-wrap:focus .search-form {
  display: block;
}

.item-search {
  outline: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
}

.lead-input.item-search {
  width: 311px;
  margin-right: 15px;
  color: var(--dark-text);
  padding-top: 10px;
  padding-bottom: 10px;
}

.item-search::placeholder {
  font-size: 14px;
  line-height: 16;
}

.nav-link {
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
  padding-left: 16px;
  text-decoration: inherit;
}

.user-navigation {
  display: grid;
  column-gap: 10px;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 32px;
  width: 244px;
  padding-top: 13px;
  margin-left: 14px;
}

.empty-basket {
  margin-left: 28px;
}

.user-navigation-item {
  display: block;
  position: relative;
}

.user-navigation-item:hover p,
.entrance-link:focus p {
  color: var(--dark-text);
}

.user-navigation-item:hover:not(.full-basket) path,
.user-navigation-item:active:not(.full-basket) path,
.user-navigation-item:focus:not(.full-basket) path,
.search-link:focus path,
.login-link:focus path,
.empty-basket-link:focus path {
  fill: var(--dark-text);
}

.entrance-link {
  background-color: var(--light-gray-button);
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.search-icon-wrap:hover,
.search-icon-wrap:active,
.search-icon-wrap:focus,
.entrance-link:hover,
.entrance-link:active,
.entrance-link:focus,
.search-link:focus {
  background-color: var(--white-text);
}

.user-navigation-descr {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--white-text);
  text-decoration: none;
  margin: 0;
  padding-left: 8px;
}

.user-navigation-item:hover .user-navigation-descr,
.user-navigation-item:active .user-navigation-descr,
.user-navigation-item:focus .user-navigation-descr {
  color: var(--dark-text);
}

.dropdown-menu {
  width: 143px;
  position: absolute;
  z-index: 3;
  background-color: var(--white-text);
  padding-top: 5px;
  padding-bottom: 2px;
}

.catalog-list:hover .dropdown-menu,
.catalog-list:active .dropdown-menu,
.catalog-list:focus .dropdown-menu {
  display: block;
}



.dropdown-item {
  display: block;
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  margin-bottom: 4px;
  color: var(--dark-text);
}

.dropdown-item:hover {
  background-color: var(--salmon-catalog-hover);
}

.dropdown-item:active,
.dropdown-item:focus {
  background-color: var(--salmon);
}

.dropdown-item.current {
  background-color: var(--orange-brown);
  color: var(--white-text);
}

.dropdown-item.active {
  display: block;
  position: relative;
  font-weight: 700;
  line-height: 18px;
  padding-top: 4px;
  padding-bottom: 9px;
  margin-bottom: 7px;
}

.dropdown-item.active::before {
  content: "";
  position: absolute;
  width: 128px;
  height: 1px;
  background-color: var(--gray-border);
  left: 7px;
  top: 31px;
}

.user-entrance {
  z-index: 4;
  position: absolute;
  width: 277px;
  right: 0;
  top: 34px;
}

.entrance:hover .user-entrance,
.entrance:focus .user-entrance,
.entrance-link:hover .user-entrance,
.entrance-link:focus .user-entrance {
  display: block;
}

.entrance-form {
  margin-top: 20px;
  margin-left: 19px;
  margin-right: 17px;
  margin-bottom: 20px;
}

.entrance-form .modal-input {
  width: 241px;
  font-size: 14px;
  line-height: 16px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 14px;
  padding-top: 15px;
  margin-bottom: 20px;
}

.entrance-password::placeholder {
  font-size: 9px;
}

.entrance-form-link {
  display: block;
  align-self: end;
  position: absolute;
  font-size: 13px;
  line-height: 15px;
  text-decoration: none;
  color: var(--dark-text);
  border-bottom: 1px solid var(--gray-bottom);
  left: 142px;
  top: 152px;
}

.entrance-form-link:last-of-type {
  top: 173px;
}

.entrance-form .button-form {
  width: 103px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-bottom: 5px;
  padding-top: 3px;
}

.breadcrumbs a {
  display: inline-block;
  vertical-align: top;
}

.main-slider {
  display: flex;
  position: relative;
  width: 1146px;
  padding-top: 494px;
  background-repeat: no-repeat;
  background-position: top center;
  justify-content: center;
  align-content: flex-end;
}

.slide-current {
  display: block;
}

.main-slider-breadcrumbs {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 448px;
  left: 0;
  z-index: 2;
  width: 79px;
}

.main-slider-title {
  position: absolute;
  font-size: 60px;
  line-height: 60px;
  width: 672px;
  margin: 0 auto;
  margin-bottom: 27px;
  top: 284px;
  text-align: center;
  left: 237px;
}

.main-slider-item .button-form {
  display: inline-block;
  position: absolute;
  width: 278px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-shadow: 0 2px 5px var(--bordo);
  text-transform: none;
  border: none;
  cursor: pointer;
  padding-top: 9px;
  padding-bottom: 10px;
  top: 429px;
  left: 433px;
  vertical-align: top;
}

.main-slider-switch {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  border: 2px solid var(--white-text);
  box-sizing: border-box;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.main-slider-switch:hover {
  background-color: var(--gray-switch-hover);
}

.main-slider-breadcrumbs .current {
  background-color: var(--white-text);
}

.main-slider-0 {
  background-color: var(--basic-green-gray);
  background-image: url(../img/raspberry-cream-min.png);
}

.main-slider-1 {
  background-color: var(--basic-dark-gray);
  background-image: url(../img/choco-limon-min.png);
}

.main-slider-2 {
  background-color: var(--basic-dark-beige);
  background-image: url(../img/strawberry-sorbet-min.png);
}

.product {
  position: relative;
}

.product-price {
  font-size: 45px;
  line-height: 45px;
  text-shadow: 0 1px 3px var(--blue-black);
  position: absolute;
  top: 211px;
  z-index: 2;
}

.product-weight::before {
  content: url(../img/ruble.svg);
  position: absolute;
  height: 31px;
  width: 31px;
  left: -2px;
  top: -4px;
}

.product-weight {
  position: relative;
  font-size: 30px;
  line-height: 35px;
  padding-left: 32px;
}

.product-title {
  text-align: center;
  max-width: 267px;
  margin-top: 14px;
  margin-bottom: 0;
  z-index: 2;
}

.product-link {
  color: var(--white-text);
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

.product:hover::after {
  content: "";
  position: absolute;
  background-color: var(--white-text);
  opacity: 0.2;
  border-radius: 4px;
  box-shadow: 0px 20px 20px var(--black-hover);
  top: -8px;
  left: -13px;
  right: -13px;
  bottom: -75px;
  width: 293px;
  height: 402px;
  z-index: 1;
}

.site-link:hover,
.site-link:active,
.site-link:focus {
  border-bottom: 1px solid var(--salmon-link);
  color: var(--salmon-link);
}

.site-link {
  border-bottom: 1px solid var(--light-gray-button);
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: start;
  width: 1146px;
  min-height: 306px;
  border-radius: 16px;
  background-image: url(../img/pattern-min.png);
  background-color: var(--beige);
  background-repeat: repeat;
  color: var(--dark-text);
  margin-top: -1px;
}

.benefits-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  width: 995px;
  margin-top: 25px;
  margin-left: 22px;
  margin-bottom: 7px;
}

.benefit-item {
  display: flex;
  width: 540px;
  margin-left: 22px;
  margin-bottom: 10px;
  padding-bottom: 7px;
}

.benefit-item-img {
  margin-right: 6px;
  padding-top: 0px;
}

.benefit-item-descr {
  margin-top: 8px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.special-offers {
  display: grid;
  grid-template-columns: repeat(2, 560px);
  grid-column-gap: 25px;
}

.offer {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  font-size: 18px;
  color: var(--white-text);
  font-weight: 700;
  background-repeat: no-repeat;
}

.offer-title {
  font-size: 35px;
  line-height: 41px;
  padding: 16px;
}

.offer-raspberry {
  background-color: var(--basic-raspberry-backgr);
  background-image: url(../img/raspberry-backgr-min.jpg);
}

.offer-choco {
  background-color: var(--basic-choco-backgr);
  background-image: url(../img/chocolate-backgr-min.jpg);
}

.offer-description {
  padding-left: 16px;
  padding-right: 30px;
  padding-bottom: 43px;
  line-height: 22px;
}

.button-form {
  display: block;
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  text-align: center;
  text-shadow: 0 2px 5px var(--bordo);
  border-radius: 70px;
  font-weight: 700;
  text-decoration: none;
  border-image-width: 0;
  padding-bottom: 12px;
  padding-top: 12px;
}

.view {
  display: none;
  position: absolute;
  width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
  left: 34px;
  top: 333px;
  z-index: 2;
}

.product:hover .view {
  display: block;
}

.offer .button-form {
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  text-align: center;
  text-shadow: 0 2px 5px var(--bordo);
  border-radius: 70px;
  margin-left: auto;
  margin-bottom: 22px;
  margin-right: 22px;
}

.offer-choco-link {
  width: 191px;
}

.offer-choco-link:focus,
.offer-raspberry-link:focus {
  box-shadow: 0px 0px 0px 1px var(--white-text);
}

.offer-raspberry-link {
  width: 164px;
}

.product-wrap {
  display: block;
  overflow: hidden;
  width: 267px;
  height: 267px;
  border-radius: 50%;
}

.product:hover .product-wrap {
  position: relative;
  z-index: 2;
}

.hit::before {
  content: url(../img/hit.svg);
  position: absolute;
  width: 61px;
  height: 61px;
  background-color: var(--white-text);
  border-radius: 50%;
  z-index: 4;
}

.news-post {
  width: 560px;
  height: 220px;
}

.news {
  color: var(--dark-text);
  background-color: var(--gray);
  background-image: url(../img/strawberry-backgr-min.jpg);
  background-repeat: no-repeat;
  border-radius: 16px;
}

.news-title {
  font-weight: 500;
  text-align: center;
  width: 163px;
  font-size: 16px;
  line-height: 22px;
  padding-top: 18px;
  padding-left: 20px;
  margin-bottom: 5px;
}

.news-link {
  display: block;
  width: 287px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: inherit;
  margin-left: 20px;
}

.news-link:hover,
.news-link:focus,
.news-link:active {
  color: var(--orange-link);
}

.lead-magnet {
  display: flex;
  flex-direction: column;
  background-image: url(../img/post-backgr-min.png);
  background-color: var(--gray);
  border-radius: 16px;
}

.lead-magnet-descr {
  display: block;
  width: 512px;
  color: var(--gray-lead-magnet);
  margin-left: 26px;
  padding-top: 12px;
  margin-bottom: 44px;
}

.lead-input {
  width: 368px;
  padding-left: 14px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 6px;
  box-sizing: border-box;
  line-height: 24px;
  margin-right: 10px;
  border: none;
  box-shadow: 0px 0px 0px 1px var(--medium-gray);
  color: var(--dark-text);
}

.lead-input:hover {
  border: none;
  box-shadow: 0px 0px 0px 2px var(--medium-gray);
}

.lead-input:active,
.lead-input:focus,
.filter-button:focus {
  border: none;
  outline: none;
  box-shadow: 0px 0px 0px 2px var(--blue-gray);
}

.lead-form {
  margin-left: 26px;
  display: flex;
  align-content: center;
}

.lead-form .button-form {
  width: 130px;
  padding-bottom: 9px;
  padding-top: 9px;
}

.contacts-wrap {
  min-height: 430px;
  background-color: var(--beige);
  background-image: url(../img/map-pin-min.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  pointer-events: none;
}

.contacts-container {
  width: 303px;
  background-color: var(--light-gray-contacts);
  border-radius: 16px;
  color: var(--dark-text);
  padding-bottom: 30px;
  top: 62px;
  right: 0;
  z-index: 3;
  margin-left: auto;
  pointer-events: auto;
}

.contacts-info {
  font-size: 14px;
  line-height: 20px;
  width: 173px;
  padding-left: 25px;
}

.contacts-info:first-child {
  width: 155px;
  padding-top: 30px;
}

.contacts-descr {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  width: 225px;
  padding-left: 25px;
}

.address {
  padding-bottom: 21px;
}

.contacts-link {
  display: block;
  text-decoration: none;
  color: inherit;
  padding-top: 3px;
}

.contacts-container .button-form {
  width: 253px;
  margin-top: 27px;
  margin-left: 25px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--light-gray-button);
}

.networks {
  width: 164px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 9px;
  margin-left: 2px;
}

.network {
  width: 32px;
  height: 32px;
  border: 2px solid var(--gray-footer-frame);
  border-radius: 50%;
  font-size: 0;
  background-repeat: no-repeat;
  text-align: center;
  display: block;
}

.network:hover path,
.network:focus path,
.network:active path {
  fill-opacity: 1;
}

.network:active {
  border: 2px solid var(--gray-network);
}

.footer-menu {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 33px;
  align-content: center;
  grid-row-gap: 7px;
  width: 328px;
  margin-top: 4px;
  margin-left: 2px;
}

.footer-item {
  display: block;
  font-size: 13px;
  line-height: 18px;
  color: var(--white-text);
  text-decoration: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.footer-item:focus {
  color: var(--salmon-link); 
}

.about-us {
  padding-left: 22px;
}

.for-providers {
  display: flex;
  align-self: end;
  font-weight: 700;
}

.for-providers::before {
  content: url(../img/heart.svg);
  width: 15px;
  height: 13px;
  align-self: end;
  margin-right: 4px;
  margin-top: 2px;
}

.copyright {
  width: 190px;
  font-size: 12px;
  line-height: 18px;
  color: var(--white-text);
}

.copyright-link {
  display: block;
  font-size: 0;
  background-image: url(../img/logo-htmlacademy.svg);
  width: 108px;
  height: 39px;
  background-repeat: no-repeat;
  padding-bottom: 2px;
}

.copyright-descr-link {
  color: inherit;
  text-decoration: none;
}

/* -----------------Catalog--------------- */
.catalog-bg {
  background-color: var(--basic-green-gray);
}

.right-narrow::after {
  content: url(../img/narrow-right.svg);
  width: 6px;
  height: 6px;
  padding-right: 7px;
  padding-left: 7px;
}

.full-basket {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--dark-text);
}

.full-basket .entrance-link {
  position: relative;
  background-color: var(--white-text);
  min-width: 90px;
}

.full-basket .nav-link {
  padding-left: 14px;
  padding-right: 14px;
}

.shopping-basket {
  position: absolute;
  width: 539px;
  right: 5px;
  z-index: 3;
}

.full-basket:hover .shopping-basket,
.full-basket:active .shopping-basket,
.full-basket:focus .shopping-basket {
  display: block;
}

.shop-order {
  margin-top: 17px;
  margin-left: 19px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  border-collapse: collapse;
  table-layout: fixed;
  margin-right: 14px;
  vertical-align: middle;
}

.shop-order a {
  text-decoration: none;
  color: inherit;
}

.shop-order-item {
  width: 246px;
  vertical-align: middle;
}

.special-text {
  vertical-align: bottom;
}

.shop-order th,
.shop-order td {
  padding-bottom: 18px;
}

.shop-order tr:nth-last-of-type(2) {
  width: 510px;
  border-bottom: 1px solid var(--gray-basket-hr);
}

.shop-order-img {
  border-radius: 50%;
  margin-right: 10px;
  margin-left: 5px;
}

.delete-item {
  width: 11px;
  height: 11px;
  background-image: url(../img/cross-small.svg);
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.delete-item:hover,
.delete-item:active,
.delete-item:focus {
  border: none;
  outline: none;
}

.delete-item:active,
.delete-item:focus {
  box-shadow: 0px 0px 0px 1px var(--blue-gray);
}

.basket-price {
  color: var(--gray);
  margin-right: 20px;
}

.basket-weight {
  color: var(--black);
  font-weight: 500;
}

.item-sum {
  padding-right: 19px;
}

.basket-sum {
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
  text-align: right;
  padding-top: 19px;
  margin-right: 2px;
  width: 510px;
}

.shopping-basket .button-form {
  width: 172px;
  margin-bottom: 25px;
  margin-right: 14px;
  margin-left: auto;
}

.catalog-paginator {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: auto;
  margin-top: 36px;
  padding-bottom: 26px;
}

.catalog-paginator li {
  margin-left: 5px;
}

.paginator {
  border-radius: 50%;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 3px;
  padding-left: 8px;
  padding-right: 8px;
}

.site-text {
  font-size: 16px;
  line-height: 18px;
  color: var(--white-text);
  text-decoration: none;
  font-weight: 500;
}

.paginator:hover {
  background-color: var(--light-gray-button);
}

.paginator.active,
.paginator:active {
  background-color: var(--white-text);
  color: var(--dark-text);
}

.narrow-next {
  margin-left: 3px;
}

.narrow-next:hover {
  background-color: transparent;
}

.catalog-title {
  grid-column: 1 / 5;
  padding: 0;
  margin-bottom: -6px;
  padding-top: 3px;
}

.filters {
  min-width: 870px;
  grid-column: 1 / 5;
  margin-top: -5px;
  margin-bottom: -10px;
}

.flex-wrapper {
  display: flex;
  align-items: center;
}

.filter-input-radio:focus + label::before,
.filter-input-checkbox:focus + label::before,
.main-slider-switch:focus {
  outline: 1px solid var(--black);
}

.product-filters {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.filter-item {
  padding: 0;
  margin: 0;
  border: none;
}

.price-filter {
  display: flex;
  width: 218px;
}

.filter-legend {
  display: block;
  padding-right: 4px;
  padding-bottom: 2px;
  margin-left: 8px;
}

.price-filter .filter-legend {
  padding-bottom: 3px;
}

.range-filter {
  width: 218px;
  margin-top: 3px;
  margin-right: 14px;
}

.filter-bg {
  background-color: var(--light-gray-button);
  border-radius: 20px;
  margin-right: 14px;
  margin-bottom: 14px;
}

.range-controls {
  position: relative;
  height: 19px;
  padding-top: 17px;
  margin-top: 0;
  width: 218px;
}

.scale {
  width: 176px;
  height: 2px;
  background-color: var(--gray-scale);
  margin-left: 21px;
}

.bar {
  height: 2px;
  background-color: var(--light-gray-form);
}

.toggle {
  padding: 2px;
  background-color: var(--gray);
  border: 8px solid var(--white-text);
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 2px 1px 0 var(--gray);
  cursor: pointer;
  top: 8px;
}

.toggle:hover {
  border-bottom: 9px solid var(--white-text);
  border-top: 9px solid var(--white-text);
  top: 7px;
}

.toggle:active,
.toggle:focus {
  outline: none;
  box-shadow: 0px 0px 0px 1px var(--blue-gray);
}

.toggle-min {
  left: 21px;
}

.toggle-max {
  left: 119px;
}

.radio-list {
  display: flex;
  flex-wrap: wrap;
  width: 411px;
  margin-top: 4px;
  padding-left: 14px;
}

.filter-input-radio + label {
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 31px;
  padding-right: 20px;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  border: 4px solid var(--gray-radio);
  border-radius: 50%;
  left: 0;
  top: 7px;
}

.filter-input-radio:hover + label::before {
  border: 4px solid var(--white-text);
}

.filter-input-radio:disabled + label::before {
  border: 4px solid var(--gray-switch-hover);
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: var(--gray-radio);
  border-radius: 50%;
  left: 7px;
  top: 14px;
}

.filter-input-radio:disabled + label::after {
  background-color: var(--gray-switch-hover);
}

.filter-input-radio:checked:hover + label::after {
  background-color: var(--white-text);
}

.price {
  padding: 0;
}

.price-controls {
  width: 93px;
}

.price-controls input {
  background-color: inherit;
  border: none;
  padding: 0;
  width: 26px;
  text-align: center;
}

.price::after {
  content: "₽";
}

.price input:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--gray-input);
}

.max-price::before {
  content: "-";
  padding-left: 2px;
  padding-right: 2px;
}

.user-navigation-descr::-webkit-inner-spin-button,
.user-navigation-descr::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filler-filter {
  display: flex;
  flex-wrap: wrap;
  width: 694px;
  padding-left: 16px;
  margin-top: 7px;
}

.filler-filter li:nth-child(1) {
  margin-right: 20px;
}

.filler-filter li:nth-child(2) {
  margin-right: 22px;
}

.filler-filter li:nth-child(3) {
  margin-right: 24px;
}

.filler-filter li:nth-child(4) {
  margin-right: 21px;
}

.filter-input-checkbox + label {
  padding-top: 9px;
  padding-bottom: 9px;
  position: relative;
  padding-left: 32px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border: 2px solid var(--gray-radio);
  border-radius: 3px;
  left: 0;
}

.filter-input-checkbox:hover + label::before {
  border: 2px solid var(--white-text);
}

.filter-input-checkbox:disabled + label::before {
  border: 2px solid var(--gray-switch-hover);
}

.filter-input-checkbox:checked + label::before {
  display: block;
  content: "";
  position: absolute;
  border: none;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 20px;
  left: 0;
}

.filter-input-checkbox:checked:hover + label::before {
  background-image: url(../img/checkbox-on-hover.svg);
}

.filter-input-checkbox:checked:disabled + label::before {
  background-image: url(../img/checkbox-on-disabled.svg);
}

.filter-button {
  box-shadow: 0px 0px 0px 2px var(--white-text);
  border: none;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none;
  margin-bottom: 16px;
}

.select {
  position: relative;
}

.sorting {
  min-width: 196px;
  padding-top: 8px;
  padding-bottom: 7px;
  padding-left: 14px;
  border: none;
  margin-top: 7px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.select:hover,
.select:focus,
.select:active {
  color: var(--dark-text);
}

.sorting:focus,
.sorting:active,
.sorting:hover {
  outline: none;
  color: var(--dark-text);
  box-shadow: 0px 0px 0px 1px var(--blue-gray);
}

.select::after {
  content: "\25BC";
  display: block;
  position: absolute;
  color: var(--gray-radio);
  right: 31px;
  top: 11px;
  width: 11px;
  height: 10px;
  box-sizing: content-box;
  pointer-events: none;
}

.select:hover::after,
.select:active::after,
.select:focus::after {
  color: var(--dark-text);
}

.popup {
  position: fixed;
  top: 57%;
  left: 50%;
  width: 477px;
  transform: translateX(-50%) translateY(-50%);
  z-index: 5;
}

.popup-show {
  display: block;
  animation: bounce 0.7s;
}

.popup-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  margin-left: 24px;
  margin-top: 17px;
  margin-bottom: 23px;
  color: var(--dark-text);
}

.popup .modal-input {
  width: 267px;
  margin-left: 24px;
  margin-bottom: 20px;
}

.popup .modal-input::placeholder {
  margin-top: 13px;
  margin-left: 14px;
  padding-top: 6px;
  padding-bottom: 12px;
}

.popup .popup-question {
  width: 428px;
  height: 154px;
  resize: none;
  margin-bottom: 20px;
}

.popup .button-form {
  width: 140px;
  margin-bottom: 29px;
  margin-right: 25px;
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 14px;
}

.popup-close {
  position: absolute;
  top: 15px;
  right: 16px;
  width: 18px;
  height: 17px;
  border: none;
  margin: 0;
  padding: 0;
  background-image: url(../img/cross-big.svg);
  box-sizing: content-box;
}

/* Animations */
@keyframes bounce {
  0%   {
    -webkit-transform: translateY(-200%) translateX(-50%);
            transform: translateY(-200%) translateX(-50%);
  }
  80%  {
    -webkit-transform: translateY(-10%) translateX(-50%);
            transform: translateY(-10%) translateX(-50%);
  }
  90%  {
    -webkit-transform: translateY(-30%) translateX(-50%);
            transform: translateY(-30%) translateX(-50%);
  }
  100% {
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
