/*Colors*/
:root {
  /*ЦВЕТ ФОНА НА СТРАНИЦАХ*/
  --basic-green-dark: #849D8F;
  --basic-green-light: #D7F2E3;
  /*серо-зеленый цвет*/
  --basic-blue-dark: #8996A6;
  --basic-blue-light: #DAE4EF;
  /*серо-голубой цвет*/
  --basic-beige-dark: #9D8B84;
  --basic-beige-light: #EFE0DA;
  /*бежевый цвет*/
  --basic-raspberry-backgr: #9a073f;
  --basic-choco-backgr: #8f4814;
  /*ЦВЕТ ТЕКСТА НА СТРАНИЦАХ*/
  --text-color-light: #ffffff;
  --text-color-dark: #323232;
  --text-color-placeholder: #999999;
  --text-weight-basket: #000000;
  /*цвет веса товара в корзине*/
  --text-price-basket: #ABABAB;
  /*цвет цены/кг товара в корзине*/
  --header-button: #D07058;
  /*одноцветная кнопка в шапке каталога && находимся на выбранной странице в выпад.списке*/
  --header-button-hover: #EDEDED;
  /*одноцветная кнопка в шапке каталога при клике*/
  --button-linear: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  /*градиентные кнопки на всех страницах*/
  --button-linear-hover: linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  /*градиентные кнопки на всех страницах при наведении*/
  --button-linear-click: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  /*градиентные кнопки на всех страницах при клике*/
  --menu-color-click: #F6B5A5;
  /*клик по пункту меню*/
  --menu-color-hover: #FBDED7;
  /*наведение по пункту меню*/
  /*ВСЕ ССЫЛКИ В МАКЕТЕ (КРОМЕ ССЫЛОК ЗАГОЛОВКОВ ГЛАВНОГО МЕНЮ)*/
  --light-link-hover: #FFBC9E;
  /*нажатие и наведение на светлые ссылки*/
  --dark-link-hover: #E84D37;
  /*нажатие и наведение на темные ссылки*/
  --input-hover-frame: #2E88E4;
  /*цвет рамки при наведении на инпут*/

}

/*Global*/
body {
  min-width: 1220px;
  margin: 0;
  padding: 0;
  background-color: var(--basic-green-dark);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  font-style: normal;
  color: var(--text-color-dark);
  min-height: 100%;
}

.img {
  max-width: 100%;
  height: auto;
}

.user-navigation,
.site-navigation,
.main-slider-list,
.main-slider-breadcrumbs {
  list-style: none;
}

/*Hidden*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Header*/
.main-header {
  color: var(--text-color-light);
}

/* Скрытые поп-апы, потом отобразить!!! */
.user-entrance,
.dropdown-menu,
.popup {
  display: none;
}

.site-navigation a,
.user-navigation a {
  color: var(--text-color-light);
  text-decoration: none;
  font-weight: bold;
}

.benefits {
  width: 1146px;
  height: 306px;
  border-radius: 16px;
  background-image: url(../img/pattern-min.png);
  background-color: var(--basic-beige-light);
  background-repeat: repeat;
}

.benefits h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.offer-raspberry {
  background-color: var(--basic-raspberry-backgr);
  background-image: url(../img/raspberry-backgr-min.jpg);
}

.offer-choco {
  background-color: var(--basic-choco-backgr);
  background-image: url(../img/chocolate-backgr-min.jpg);
}

.offer {
  width: 560px;
  height: 229px;
  border-radius: 16px;
  font-size: 18px;
  color: var(--text-color-light);
  font-weight: bold;
}

.offer h2 {
  font-size: 35px;
  line-height: 41px;
}

.button {
  font: inherit;
  text-align: center;
  color: var(--text-color-light);
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}
